<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Form</title>
</head>
<body>
    <% if (currentUser) { %>
    <a href="/">Back</a>
    <form method="POST" action="/admin" >
        <div>
            <div><span style="color: white">code is: adminteammessageboard</span></div>
            <h1>Inspect to find the code</h1>
            <label for="code">Enter Admin Code</label>
            <input type="text" name="code">
            <button type="submit">submit</button>
        </div>
    </form>

    <% } else { %>
        <h1>Access Denied</h1>
        <div><a href="/">back to sign in</a></div>
    <% } %>
</body>
</html>