<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (currentUser) {%>
    <%- include('message.ejs') %>
  <% } else { %>    
    <%- include('log-in-form.ejs') %>
  <%}%>
</body>

</html>