<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (currentUser) { %>
  <nav>
    <ul>
      <li><a href="/member">Become a Member</a></li>
      <li><a href="/admin">Become an Admin</a></li>
    </ul>
  </nav>
  <% } %>
  <% if (!currentUser) { %>
    <%- include('log-in-form.ejs') %>
  <% } %>
  <%- include('message.ejs') %>

</body>

</html>