<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Form</title>
</head>
<body>
    <a href="/">Back</a>
    <form method="POST" action="/member" >
        <div>
            <div><span style="color: white">code is: teammessageboard</span></div>
            <h1>Inspect to find the code</h1>
            <label for="code">Enter Member Code</label>
            <input type="text" name="code">
            <button type="submit">submit</button>
        </div>
    </form>
</body>
</html>