<h1>WELCOME BACK <%= currentUser.username %>
</h1>


<a href="/log-out">LOG OUT</a>


<h2>Messages</h2>

<div>
    
</div>

<div class="">
    <form method="POST" action="/message" >
      <div >
        <div>
            <div><label for="">title</label></div>
            <input type="text" name="title" class="">
        </div>
        <div>
            <div><label class="font-bold" for="">Message</label></div>
            <textarea class="" name="message" id="" cols="55" rows="2"></textarea>
        </div>
      </div>
      <button type="submit" class="">Add new message</button>
   </form>
  </div>