<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/authFunctions.js"></script>
</head>

<body>
    <a href="/">log in</a>
    <h1>Sign Up</h1>
    <form action="" method="POST">
        <div>
            <label for="username">Username</label>
            <input name="username" placeholder="username" type="text" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" id="password" type="password" onchange="checkPasswords()" required />
            <span id="password-error"></span>
        </div>
        <div>
            <label for="confirm-password">Confirm Password</label>
            <input name="confirm-password" id="confirm-password" type="password" onchange="checkPasswords()" required />
            <span id="confirm-password-error"></span>
        </div>
        <button>Sign Up</button>
    </form>

</body>

</html>